{% extends 'men/base.html' %}

{% block content %}
<h1>{{title}}</h1>

{% for i in page_obj %}
<p>{{ i }}</p>
{% endfor %}

<h2>
    На самом деле трудно объяснить конкретную цель создания этого сайта. Скорее всего желание практиковаться.

    На этом сайте я реализовал регистрацию и авторизацию. Настроил админ-панель и использовал ORM. Также оптимизировал SQL-запросы
    и это лишь малая часть всей проделанной работы. Полный код данного проекта вы сможете увидить на моём github. Ссылку на который я уже
    оставлял, но оставлю снова.
</h2>
<h1><a href="https://github.com/DmitryBurov1911">GITHUB</a></h1>

{% endblock %}
